# Timer unit for timed tasks from action-runners-docker service unit.

[Unit]
Description=Timed tasks for action-runners-docker
Requires=github-runner-docker.service

[Timer]
Unit=github-runner-docker.service
OnCalendar=*-*-* 00:00:00
AccuracySec=1us

[Install]
WantedBy=timers.target