# Service unit for maintenance tasks on action runners.
# This is a solution for timed tasks using systemd.

[Unit]
Description=Maintenance tasks on action runners for docker
Wants=github-runner-docker.timer

[Service]
Type=oneshot
ExecStart=/bin/bash /home/ec2-user/scripts/runner-docker.sh

[Install]
WantedBy=multi-user.target